.policy {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
    color: #FFF;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #36256E;
    font-family: 'Poppins', sans-serif;
}

.policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background-color: #36256E;
    margin-top: 10px;
}

.policy-header p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.policy-title {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.login-logo {
    display: flex;
    padding: 20px;
    gap: 10px;
    /* align-items: stretch; */
}

.login-logo p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
}

.policy-alert-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #36256E;
}

.policy-alert {
    display: flex;
    width: 90%;
    background-color: #FFF;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.alert-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.alert-btn {
    margin-right: 20px;
}

.alert-button {
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    color: #FFF;
    background-color: #E73493;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.alert-text {
    color: #36256E;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.alert-text p {
    margin-bottom: 10px;
}

.alert-text-bold {
    margin-left: 1px;
    margin-right: 1px;
    font-weight: 700;
}

.policy-container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 65%;
    margin-bottom: 20px;
}

.policy-data {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin-top: 10px;
    margin-right: 20px;
}

.policy-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 10px;
}

.policy-details-box1 {
    display: flex;
    /* flex-direction: row; */
    /* height: 80%; */
    justify-content: center;
    align-items: center;
}

.policy-box1-logo {
    display: flex;
    border-right: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.policy-box1-details {
    display: flex;
    flex-direction: column;
    color: #36256E;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.policy-box1-details p {
    margin: 5px;
    color: #36256E;
    font-size: 14px;
}

.policy-box1-tit-text {
    font-weight: 400;
}

.policy-box1-tit-text {
    font-weight: 700;
}

.policy-support {
    display: flex;
    width: 20%;
    height: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.img-box {
    display: flex;
    width: 100%;
    position: relative;
}

.policy-support-img {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-shadow: 0px 10px 30px #FFF;
    font-size: 1vw;
    font-weight: 700;
}

.img-text1 {
    color: #36256E;
    margin: 0px;
    padding: 0px;
}

.img-text2 {
    color: #E73493;
    margin: 0px;
    padding: 0px;
}

.policy-support-btn {
    display: flex;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    background: #E73493;
    color: #FFF;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.policy-details-box2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.policy-box2-btn1 {
    padding: 10px;
    width: 145px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #E73493;
    background-color: #FFF;
    color: #E73493;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.policy-box2-btn2 {
    padding: 12px;
    width: 145px;
    border-radius: 5px;
    border-style: none;
    background-color: #E73493;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.policy-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: auto;
}

.policy-footer-text {
    margin-right: 5px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .policy-header p {
        font-size: 16px;
    }

    .login-logo p {
        font-size: 14px;
    }

    .policy-box2-btn1,
    .policy-box2-btn2 {
        margin-right: 0;
        margin-bottom: 5px;
    }
}