@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Alternates:wght@500&family=Poppins:wght@400;600&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Inter&family=Montserrat+Alternates:wght@500&family=Poppins:wght@400;600&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');


.linear {
    height: auto;
    background: linear-gradient(to bottom, #36256E 50%, #FFF 50%);
    padding: 0;
}

.ins-log-div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.insurance-img {
    width: 37.29px;
    height: 68px;
    padding-top: 10%;
}

.insurance-div {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.insurance-txt {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.login-div {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.login-img {
    width: 14.6px;
    height: 24px;
    cursor: pointer;
}

.login-txt {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}

.total-container-div {
    width: 510px;
    margin: auto;
}

.ins-cont-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 100px;
}

#ins-content {
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#sub-content {
    color: #FFF;
    /* font-family: IBM Plex Sans; */
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: 60px;
}


.all-insurance-logos {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    /* bottom: 45%; */
    gap: 38px;
}

.logos {
    background-color: #FFFFFF;
    fill: #FFF;
    filter: drop-shadow(0px 10px 40px rgba(54, 37, 110, 0.25));
    width: 70px;
    height: 70px;
    /* margin: 0 19px 0; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos-health {
    background-color: #FFFFFF;
    filter: drop-shadow(0px 10px 30px rgba(231, 52, 147, 0.25));
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logos {
    margin: auto;
    overflow: auto;
}

.logos-text-div {
    text-align: center;
    margin-top: 10px;
    color: #36256E;
}

.quote-div {
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 40px;
}

#quote-btn {
    width: 213px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    border: none;
    border-color: #E73493;
    background: #E73493;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    color: #36256E;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.nav-footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

/* ---------------------------------------------------Login Page-------------------------------------------------------- */

.login-container-id {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left-container {
    display: flex;
    height: 100vh;
    flex: 2;
    flex-direction: column;
    background-color: white;
}

.login-page-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-top: 20px;
    gap: 10px;
}

.login-border {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content: center;
    flex-wrap: wrap;
}

.login-page-border {
    display: flex;
    width: 100%;
    justify-content: center;
}

#login-page-txt {
    color: #36256E;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
}

.input-field-div {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    width: 80%;
}

.email-id-input {
    border-radius: 4px;
    height: 40px;
    background: #EDF2F7;
    text-indent: 10px;
    color: #87909E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
}

#email-label {
    color: #4A5568;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
}

.password-label {
    margin-top: 15%;
    color: #4A5568;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
}

#password-input {
    border-radius: 4px;
    height: 40px;
    background: #EDF2F7;
    text-indent: 10px;
    color: #87909E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 200% */
}

#login-btn {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    border-radius: 8px;
    background: #E73493;
    height: 40px;
    flex-shrink: 0;
    line-height: 21px;
    /* 150% */
    text-transform: uppercase;
}

.footer-div {
    display: flex;
    justify-content: center;
}

.footer-login-div {
    width: 60%;
}

.Register-div {
    display: flex;
    margin-top: 20%;
}

p {
    margin: 0%;
    padding: 0%;
}

#register-account-txt {
    color: #87909E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

#register-txt {
    color: #E73493;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

.forgot-pass-div {
    display: flex;
    justify-content: center;
}

#forgot-pass-txt {
    color: #87909E;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */

}

/* -----------------------------------------login page right side-------------------------------------------------------- */

.right-container {
    display: flex;
    height: auto;
    flex-direction: column;
    flex: 4;
    background-color: #36256E;
    /* overflow-y: auto; */
    /* justify-content: end; */
}

.login-content-div {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.align-content-div {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone-img-div {
    display: flex;
    width: 100%;
    margin-top: 11.5%;
    align-items: end;
    justify-content: flex-end;
}

#phone-img {
    height: 200px;
    /* margin-top: 8%; */
}

/* ------------------------------------insurance coverage--------------- */

/* #img-ins{
    fill: #FFF;
    filter: drop-shadow(rgba );
} */

.main-container {
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    background-color: #fff;
    display: flex;
    min-height: 430px;
    max-width: 431px;
    flex-direction: column;
}

.header {
    padding: 10px;
    background-color: #f2f2f2;
}

.title {
    color: #333;
    margin-bottom: 5px;
}

.description {
    color: #666;
    font-size: 14px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.input-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.button-link {
    padding: 10px;
    color: #007bff;
    text-decoration: underline;
}

/* -------------------------------------------------stepper container------------------------------------------------------- */
/* 
.stepper {
    background: #36256E;
    height: 100vh;
    overflow: hidden
} */

#stepper-container-div {
    background: #36256E;
    width: 430px;
    height: 60vh;
    max-height: 45vh;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sub-div {
    /* margin: auto; */
    padding: 3%;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    /* scrollbar-width: thin; */
    -ms-overflow-style: none;
}

.sub-div::-webkit-scrollbar {
    width: 1%;
}

.sub-div::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 40px;
}

.stepper-insurance-div {
    display: flex;
    justify-content: space-between;
}

.background-div {
    background: #36256E;
    height: 100vh;
    overflow-y: auto;
}

.familyMembers {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.txt-design {
    color: #36256E;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.add-txt {
    color: #32BA7C;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.elderMemberAge {
    width: 65px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}

.quote {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #E73493;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    border: none;
    width: 50%;
    height: 40px;
}

ul {
    list-style: none;
}

.add-img {
    width: 22px;
    height: 22px;
}

.list-parent {
    color: #36256E;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-field {
    width: 12%;
    height: 30px;
}

.tick-checkbox {
    border-radius: 50%;
    border: 1px solid green;
    width: 22px;
    height: 22px;
}

/* ------------------------------------------------mobile otp------------------------------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.mob-num-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 85%; */
}

.mob-num-body-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.mob-num-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 17%;
    min-width: 240px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 30px 20px 30px;
}

.mob-num-text {
    color: #36256E;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
}

.mob-num-inputfield {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-num-input {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    height: 30px;
}

.mob-num-text1 {
    color: #36256E;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-left: 5px;
    font-size: 10px;
    font-weight: 400;
}

.mob-num-Button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-num-button {
    height: 40px;
    width: 95%;
    border-radius: 10px;
    background-color: #E73493;
    border: none;
    color: #FFF;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* ----------------------------------------mobile otp------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.otp-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 85%; */
}

.otp-body-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.otp-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 17%;
    min-width: 240px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 30px 15px 30px;
}


.otp-back {
    display: flex;
    /* flex-direction: row; */
    align-items: baseline;
    gap: 8px;
    margin-bottom: 10px;
}

.otp-back-text {
    color: #36256E;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
}

.otp-text {
    color: #36256E;
    /* display: flex; */
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.otp-text1 {
    color: #36256E;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 10px;
    font-weight: 400;
}

.otp-Button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-button {
    height: 40px;
    width: 95%;
    border-radius: 10px;
    background-color: #E73493;
    border: none;
    color: #FFF;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.otp-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

/* .otp-result {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
} */
/* ------------------------------------------checkout page-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.policy-select-ckt {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slider-coverage-div {
    display: flex;
    justify-content: center;
}

.range-slider {
    -webkit-appearance: none;
    width: 30%;
    min-width: 200px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    /* background:linear-gradient(to right,#E73493 1%,#fff 0%); */
    outline: none;
    /* transition: background 0.2s; */
}

.slider-coverage-div.focused .range-slider {
    background: linear-gradient(to right, pink, #fff 0%);
}


.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* appearance: none; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* box-shadow: -10px 0 0 10px #E73493; */
    /* border: 4px solid #fff; */
    /* padding: 3%; */
    background-image: radial-gradient(circle, #fff 40%, #E73493 45%);
    cursor: pointer;
    /* transition: background 0.2s; */
    /* Add a smooth transition effect on the background color */
}

/* .range-slider::-ms-track {
    background: linear-gradient(to right, #E73493);
} */
.radio {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    accent-color: #E73493;
}

.slider-coverage {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.coverage-amt {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lakh-txt {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plan1 {
    width: 270px;
    height: fit-content;
    background-color: #FFF;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.plan2 {
    width: 270px;
    height: fit-content;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.plan-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
    height: 100%;
}

.select-plan {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 60%;
    justify-content: start;
}

.plan-name {
    color: #36256E;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.coverage {
    color: #36256E;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.see-coverage {
    color: #1290D6;
    font-size: 12px;
    font-weight: 400;
}

.plan-spec {
    display: flex;
    flex-direction: column;
    color: #36256E;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

.plan-amount {
    display: inline-flex;
    color: #36256E;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.5px;
}

.per-month {
    color: #36256E;
    font-size: 8px;
    font-weight: 500;
}

.waiting-period,
.quick-evaluation,
.approval {
    display: flex;
    flex-direction: row;
}

.plan-spec-text {
    padding: 3px;
    margin: 1px;
}

.plan-spec-img {
    margin-right: 5px;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 590px;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    justify-content: space-between;
}

.gst {
    color: #36256E;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
}

.plan-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 40%;
    gap: 2px;
    justify-content: space-around;
}

.proceed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.view-details {
    color: #36256E;
    font-size: 12px;
    font-weight: 500;
    text-decoration-line: underline;
}

.proceed-button {
    padding: 10px;
    width: 65%;
    border: none;
    border-radius: 10px;
    background: #E73493;
    box-shadow: 0px 10px 30px 0px rgba(231, 52, 147, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* -----------------------------------------policy converage-------------------------------------------------- */

.policy-contain {
    width: 98%;
    position: relative;
    /* height: 546px; */
    min-height: 546px;
    max-height: 650px;
    border-radius: 10px;
    background-color: #FFF;
    margin: auto;
    overflow-y: scroll;
}

.policy-contain::-webkit-scrollbar {
    display: none;
}

.custom-toggle-btn {
    /* background-color: #007BFF; */
    color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.txt-color {
    font-family: Poppins;
    color: #36256E !important;
    margin: 0;
}

.nav-fill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #36256E;
    /* margin-left: 45px; */
}

.nav-link {
    --bs-navbar-nav-link-padding-x: 0;
}

.back-contain {
    display: flex;
}

/* 
.list-bar {
    width: 75%;
} */

.nav-link:hover {
    color: #36256E;
}

.list-nav.active,
.list-bar.active {
    /* cursor: pointer; */
    color: #36256E;
    font-family: Poppins;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transform: rotate(-0.521deg);
    text-underline-offset: 1em;
    color: #E73493 !important;
    transition: text-decoration 0.3s ease, font-size 0.3s ease;
}

.download-receipt-btn {
    width: 97%;
}

.download-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    background: #E73493;
}

.download-txt {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}

.policy-name {
    font-family: Poppins;
    color: #36256E !important;
    line-height: 36px;
    font-weight: 600;
}

.policy-detail-contain {
    width: 45%;
}

.flex {
    display: flex;

}

.left-policy-contain {
    flex: 1;
}

.right-policy-contain {
    flex: 1;
}

.title-txt {
    color: #E73493;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-txt {
    color: #36256E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.txt-color:hover {
    cursor: pointer;
}

.menu-img {
    width: 24px;
    height: 24px;
}

/* -------------------------------------------------------Payment History------------------------------------------------------ */

/* .custom-table>:not(caption)>*>* {
    color: rgba(54, 37, 110, 1) !important;
    padding: 20px 20px 20px 0px !important;
    border-bottom-width: var(--bs-border-width) !important;
} */

/* .padd {
    padding: 20px 0px 20px 0px;
} */

.last-th {
    flex-grow: 1;
}

.table-no-border-bottom tbody td,
.table-no-border-bottom tbody th {
    border-bottom: none;
}

.payment-thead,
.payment-tdata {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 37, 110, 1) !important;
    padding: 20px 20px 20px 0px !important;
    border-bottom-width: var(--bs-border-width) !important;
}

.payment-thead-download {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(54, 37, 110, 1) !important;
    padding: 0 200px !important;
    border-bottom-width: var(--bs-border-width) !important;
}

/* ---------------------------------------------Network Hospitals--------------------------------------------------------------- */

.net-hos-table> :not(caption)>*>* {
    color: rgba(54, 37, 110, 1) !important;
    padding: 15px 0px 15px 0px !important;
    /* Corrected padding values */
}


.net-hos-table th:nth-child(1) {
    width: 15%;
}

.net-hos-table th:nth-child(2) {
    width: 15%;
}

.net-hos-table th:nth-child(3) {
    width: 30%;
}

.net-hos-table th:nth-child(4) {
    width: 30%;
}

.net-hos-table th:nth-child(5) {
    width: 10%;
}

.bg-col-netHos {
    background-color: #F0F0F0 !important;
    width: 80% !important;
    text-align-last: center;
    color: #36256E !important;
}

.custom-dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../assets/dropdown.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
}

.search-hospital {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.search-bar::placeholder {
    font-size: 16px;
    color: #36256E80;
    font-family: Poppins;
    font-weight: 400;
    text-align: left;
}

.hospital-data::-webkit-scrollbar {
    display: none;
}

/* --------------------------------------landing page media query--------------------------------------------- */
@media screen and (max-width:576px) {

    .background-div {
        background: #36256E;
        /* height: -webkit-fill-available; */
    }

    .total-container-div {
        width: 350px;
    }

    #ins-content {
        font-size: 23px;
    }

    .insurance-img {
        width: 28.29px;
        height: 60px;
        padding-top: 14%;
    }

    .ins-cont-div {
        width: 80%;
    }

    .insurance-txt {
        font-size: 14px;
        transition: font size 1s ease;

    }

    .ins-log-div {
        display: flex;
        justify-content: space-around;
    }

    #sub-content {
        font-size: 16px;
    }

    .all-insurance-logos {
        display: flex;
        margin-left: 30px;
        gap: 20px;
        justify-content: flex-start;
    }

    .logos {
        width: 40px;
        height: 40px;
    }

    .logos-health {
        width: 40px;
        height: 40px;
    }

    .img-logos {
        margin: 3px;
    }

    .img-logos-sign {
        margin: 8px;
        overflow: auto;
    }

    #stepper-container-div {
        width: 230px;

    }

    .familyMembers {
        font-size: 20px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    #ins-content {
        font-size: 27px;
    }

    #sub-content {
        font-size: 16px;
    }

    .all-insurance-logos {
        gap: 20px;
    }

    .logos {
        width: 50px;
        height: 50px;
    }

    .logos-health {
        width: 50px;
        height: 50px;
    }

    .quote-div {
        margin-bottom: 110px;
    }

    .total-container-div {
        width: 330px;
    }
}

/* ----------------------------------------checkout page media query------------------------------------------------------- */

@media screen and (max-width: 650px) {

    .plan {
        flex-direction: column;
    }

    .plan1,
    .plan2 {
        width: 250px;
    }

    .plan1 {
        margin-right: 0%;
        margin-bottom: 30px;
    }

    .plan2 {
        margin-bottom: 10px;
    }

    .proceed-container {
        flex-direction: column;
    }

    .payment-container {
        width: 250px;
        margin-bottom: 10px;
    }

    .range-slider {
        width: 40%;
    }

    .policy-select-ckt {
        font-size: 22px;
    }

    .proceed-button {
        font-size: 14px;
        margin: 5px;
    }
}

/* ---------------------------------policy details and profile details component media query------------------------------------- */


@media screen and (max-width: 576px) {

    .policy-contain {
        margin-top: 3%;
    }

    .ins-img-background {
        width: 24px;
        margin-top: 2%;
    }

    .login-img {
        width: 13.6px;
        height: 20px;
        cursor: pointer;
    }

}

/* --------------------------------navbar page media query--------------------------------------------------------------- */

@media screen and (max-width:724px) {
    .flex {
        flex-direction: column;
    }

    .policy-detail-contain {
        width: 100%;
    }

    .download-box {
        width: 120px;
    }

}

@media screen and (max-width:991px) {
    .blur {
        filter: blur(5px);
        transition: filter 0.5s ease;
        z-index: 2;
    }

    .menu-bar {
        position: absolute !important;
        border-radius: 5px;
        border: 1px solid rgba(236, 26, 138, 0.555);
        background: #fff;
        z-index: 1;
        padding: 10px !important;
        /* display: none; Initially hide the element */
    }
}

/* -------------------------------------------------contact-details-mediaquery--------------------------------------------------------- */

@media screen and (max-width: 576px) {

    .mob-num-body-text,
    .otp-body-text {
        font-size: 20px;
        margin-bottom: 10px;
    }
}