@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.container1 {
    display: flex;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.first-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: white;
}

.second-section {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: #36256E;
    justify-content: end;
}


.header {
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: white;
}

.header h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    color: #36256E;
}

.reg-form {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}


.reg-err-msg {
    padding: 0.1px;
    color: red;
    margin: 10px;
    font-size: 13px;
    font-style: normal;
}

.reg-form label {
    color: #4A5568;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.ins-title {
    color: #36256E;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.subtitle {
    color: #4A5568;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.reg-form input {
    width: 300px;
    height: 45px;
    background-color: #EDF2F7;
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 5px;
}

input::placeholder {
    color: #87909E;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
}

#success {
    color: rgb(103, 225, 103);
    text-align: center;
    margin: 5px;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E73493;
    color: white;
    height: 45px;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1 {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: flex-end;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}

.ss-text {
    width: 100%;
    gap: 40px;
    margin-bottom: 80px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.ss-text h3 {
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
}

/* @media screen and (max-width: 768px) {} */